header(class="navbar")
    nav(class="container")
        a(href="/")
            img(src="img/logo/Los_Andes_Logo-1.png")
        ul
            li 
                a(class=`${linkHome}` href="/") inicio
            li 
                a(class=`${linkAbout}` href="/about") Sobre el colegio
            li 
                a(class=`${linkAcademic}` href="/academic") Académica
            li 
                a(class=`${linkNews}` href="/news") Noticias/Eventos
            li 
                a(class=`${linkContact}` href="/contact") Contacto