header(class="navbar")
    nav(class="nav-container")
        div(class="nav-row")
            div(class="nav-icons")
                a(href="/")
                    img(src="img/logo/Los_Andes_Logo-1.png")
                div(class="nav-menu-btn")
                    img(src="img/icons/menu.svg")
            ul(class="nav-menu")
                li 
                    a(class=`${linkHome}` href="/") inicio
                li 
                    a(class=`${linkAbout}` href="/about") Sobre el colegio
                li 
                    a(class=`${linkAcademic}` href="/academic") Académica
                li 
                    a(class=`${linkNews}` href="/news") Noticias/Eventos
                li 
                    a(class=`${linkContact}` href="/contact") Contacto